@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:lang(ko) {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.link-style {
  position: relative;
  padding-left: 0.7rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
}

.link-style::after {
  content: '';
  display: block;
  height: 2px;
  width: 0; /* 기본 너비는 0 */
  background-color: #ba892e; /* Gray-950 */
  position: absolute;
  left: 4px;
  bottom: -13px; /* 텍스트 아래에서 4px 떨어지도록 설정 */
  z-index: 20; /* 밑줄이 서브메뉴 위에 오도록 설정 */
  transition: all 0.3s ease-out;
}

.link-style:hover {
  color: #4B5563; /* Gray-950 */
}

.link-style:hover::after {
  width: 90%; /* 텍스트 길이에 맞춰서 밑줄을 100% 채움 */
}

/* 부모 요소에 hover 영역 확대 */
.group {
  position: relative;
  z-index: 10;
}

.sub-menu {
  position: absolute;
  top: 52px;
  left: 0;
  background-color: #ffffff;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
  min-width: 120px;
  min-height: 85px;
  opacity: 0; /* 초기에는 숨김 */
  visibility: hidden; /* 초기에는 보이지 않음 */
  transition: opacity 0.3s ease; /* 서브 메뉴가 나타날 때/사라질 때 */
}

.sub-menu a {
  display: block;
  padding: 0.25rem 0;
  margin-left: 0.8rem;
  text-decoration: none;
  color: #000000;
  font-size: 0.96rem;
  line-height: 1.5;
}

.sub-menu a:hover {
  color: #1F2937; /* Darker gray */
}

.group:hover .sub-menu {
  opacity: 1; /* 호버 시 서브 메뉴가 나타나도록 */
  visibility: visible; /* 호버 시 서브 메뉴가 보이도록 */
}

.group::after {
  content: "";
  position: absolute;
  top: 100%; /* 서브 메뉴와의 경계 확장 */
  left: 0;
  width: 100%; /* 부모의 너비와 동일 */
  height: 52px; /* 빈 공간을 확장한 높이 */
  background: transparent; /* 시각적으로는 보이지 않음 */
  z-index: 5; /* 상위 레이어 */
}

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1;
  position: relative;
}

.swiper-fade .swiper-slide {
  opacity: 0;
  transition: opacity 1s ease-in-out !important;
}

.swiper-fade .swiper-slide-active {
  opacity: 1;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  transition: transform 0.3s ease !important;
}

.swiper-slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column; /* 여러 요소가 있을 경우 세로로 배치 */
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
}

.slide-title {
  font-size: 3rem;
  font-family: "Mongolian Baiti";
  margin-bottom: 10px;
}

.slide-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  border: 1px solid white;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Mongolian Baiti";
  cursor: pointer;
}

.slide-box:hover {
  background-color: rgba(255, 255, 255, 0.2); /* 배경색을 흰색으로 변경 */
  color: #ffffff; /* 텍스트 색상 변경 */
  border-color: #ffffff; /* 테두리 색상 변경 */
}

@media (min-width: 1280px) {
  .overlay-content {
    transform: translate(-50%, -70%); /* xl에서의 위치 조정 */
  }

  .slide-title {
    font-size: 5rem; /* xl에서 글자 크기 변경 */
  }

  .slide-box {
    width: 15rem; /* xl에서 크기 변경 */
    height: 4.5rem;
    font-size: 1.5rem;
  }
}

.swiper-slide img {
  display: flex;
  width: 100%;
  height: 525px;
  object-fit: cover;
  text-align:center;
  align-items:center;
  justify-content:center;
}

@media (min-width: 1280px) { /* xl breakpoint */
  .swiper-slide img {
    height: 812px; /* xl 값에 맞는 이미지 높이 */
  }
}

.home-container {
  width: 100%;
  height: 100%;
  margin-top: -383px;
  padding-left: 46px;
  padding-right: 46px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 상단에 정렬되도록 설정 */
}

@media (min-width: 1280px) { /* xl breakpoint */
  .home-container {
    margin-top: -96px;
    padding-left: 370px;
    padding-right: 370px;
  }
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 46px;
  padding-right: 46px;
}

@media (min-width: 1280px) { /* xl breakpoint */
  .header-container {
    padding-left: 370px;
    padding-right: 370px;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease; /* Transition 효과 추가 */
  background-color: white;
  padding-left: 46px;
  padding-right: 46px;
  z-index: 20;
}

.navbar.scrolled {
  top: 0;
}

.navbar.initial {
  top: 60px;
}

@media (min-width: 1280px) { /* xl breakpoint */
  .navbar {
    padding-left: 370px;
    padding-right: 370px;
  }
}
